/*
.....................................
..  _______________________________..
. /   ______/   _______/   _______/..
./   /      (______    \ ______   \ .
.\   \______  _____/   / _____/   /..
..\________//_________//_________/...
.....................................
......Por Cyn Romero (Ce-y-Ene)......
 */


html, body {
    margin: 0;
    padding: 0;
    font-size: 12px;
    font-family: 'Patua One', cursive;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

/* ------------------------ NavBar */
nav {
    display: flex;
    background-color: #9C27B0;
    padding: 0.5em;
    color: white;
    justify-content: space-between;
    align-items: center;
}

nav img {
    max-width: 190px;
    width: 100%;
    padding: 1em;
}

 nav ul {
     display: flex;
     justify-content: space-evenly;
     padding-inline-start: 0;
     margin-block-start: 0;
     margin-block-end: 0;
 }

 nav li {
     padding: 1em;
     list-style: none;
 }

nav li a {
    color: white;
    text-decoration: none;
    font-size: 1.7em;
}

nav li a:hover {
    color: #F2B705;
}

/* ------------------------ Main Section */

.main_section {
    padding: 10%;
    font-family: 'Flamenco', cursive;
    font-size: 2em;
    text-align: center;
    background-image: url("../images/MarcaAguaCatHat.svg");
    background-position: bottom;
}

.main_section h1 {
    margin: 2em;
}

.main_section a {
    padding: 1em 2.5em;
    border: 1px solid #4192D9;
    background-color: #4192D9;
    color: white;
    margin: 1em;
}
